<!DOCTYPE html>
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一键评教</title>
</head>
<body>
{# Display a form #}
<h1>一键评教</h1>
<form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form%}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
     Submit
    </button>
  {% endbuttons %}
</form>
</body>
</html>
